{% extends 'base.html' %}
{% block contenido %}
    <div class="container">

        <div class="row mt-5 mb-4">
            <div class="col">
                <h1>Agro Monitoring</h1>
                <h1>Device list</h1>
            </div> 
        </div>

        <div class="row">
            <div class="col">

                <table class="table table-striped">

                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">Nombre del dispositivo</th>
                            <th scope="col">Device</th>
                            <th scope="col">Localizado en:</th>
                            <th scope="col">Observaciones</th>
                            <th scope="col">Acciones</th>
                        </tr>
                    </thead>

                    <tbody>
                        {% for item in all_devicess %}    
                            {% if item.added_by.id == request.session.id %} 
                                <tr>
                                    
                                    <td class="">{{item.name}} </td>
                                    <td class="">{{item.type}} </td>
                                    <td class="">{{item.placed}} </td>
                                    <td class=""> {{item.details}}</td>
                                    <td class="align-middle">
                                        <a href="wall/{{ item.id }}" class="btn btn-primary">Ver</a>
                                        <a href="wall/{{ item.id }}/edit" class="edit-custom btn btn-info">Editar</a>
                                        <a href="wall/{{ item.id }}/destroy" class="delete-custom text-white btn btn-danger">Borrar</a>
                                    </td>
                                </tr>
                            {% endif %}
                        {% endfor %}
                    </tbody>

                </table>

            </div>
        </div>

        <div class="row mt-3">
            <div class="col">
                <a href="wall/new" class="nav-style btn btn-outline-primary">New Device</a>
            </div>
        </div>
        
    </div>
{% endblock %}
